.logo img{
    width: 160px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}
.sidenav {
    height: 100%; 
    width: 160px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: red; 
    overflow-x: hidden; 
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
  }
  
  .sidenav a:hover {
    color: #d3bebe;
  }
  
  .main {
    margin-left: 160px; 
    padding: 0px 10px;
  }
body{
  background-image:linear-gradient(0deg,rgba(0,0,0,.8) 0,transparent 30%,transparent 45%,rgba(0,0,0,.8)), url(img/F1HomeBg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: scroll;
    background-color: black;
}
.content{
  color: white;
  text-align: center;
  margin-top: 300px;
  font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
  font-weight: bolder;
}
.content h1{
  font-size: 60px;
}
 
hr{
  height: 8px;
  background-color: rgb(88, 86, 86);
  border: none;
  margin-bottom: 8px;
}
.content1{
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
  margin-left: 110px;
}
.text1{
  color: white;
  font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
  font-weight: bolder;
}
.content2{
  display: flex;
  justify-content: space-between;
  margin-right: 90px;
  margin-left: 80px;
  color: white;
  font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
  font-weight: bolder;
}
.container{
  background-color: black;
}
#heading{
  font-size: 50px;
}
#para{
  font-size: 20px;
}
.content3{
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
  margin-left: 100px;
  color: white;
  font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
  font-weight: bolder;
}  